--vam-black: #1D1E20;
--alert-red: #FD6060;
--primary-green: #50E3C2;
--vam-white: #FFF;
--vam-grey-2: #505354;
--vam-grey-3: #747C80;
--vam-grey-4: #B7B8BD;
--vam-grey-5: #DEE0E2;
--vam-grey-6: #EAEAEA;
--vam-grey-7: #EFEFED;
--vam-grey-8: #F6F6F6;
